body {
  font-family: "Rubik Mono One" sans-serif;
  text-align: center;
  color: #6699ff;
  margin: 0%;
  padding: 0%;
  font-weight: 900;
}
.h {
  color: #3366ff;
  font-size: 60px;
  font-weight: 900;
}
.span {
  color: #cccc00;
}
.ff {
  font-size: 30px;
  text-align: center;
}
a {
  text-decoration: none;
  color: #b00000;
}
ul {
  list-style: none;
}
.aa {
  border: 10px #b00000;
  font-size: 30px;
}
.add {
  font-size: 30px;
  color: #3366ff;
}
button {
  font-size: 40px;
}
.tt {
  color: #cccc00;
  font-style: oblique;
}
.o {
  font-size: 20px;
  color: #6699ff;
}
.w {
  font-size: 30px;
  color: #cccc00;
}
