body {
  font-family: "Rubik Mono One" sans-serif;
  text-align: center;
  color: #6699ff;
  margin: 0%;
  padding: 0%;
  font-weight: 900;
  font-style: italic;
}
.h {
  color: white;
  font-size: 60px;
  font-weight: 900;
}
.span {
  color: white;
}
.ff {
  font-size: 30px;
  text-align: center;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.aa {
  border: 10px #e6e6e6;
  font-size: 30px;
}
.add {
  font-size: 30px;
  color: #ffff00;
}
.tt {
  color: #6699ff;
  font-style: oblique;
  font-size: 40px;
}
.o {
  font-size: 20px;
  color: #ffff00;
}
.w {
  font-size: 20px;
  color: #ffff00;
}
.t {
  color: #f2f2f2;
  font-size: 30px;
}
.q {
  color: #ffff00;
  font-style: oblique;
  font-size: 40px;
}
