body {
  font-family: "Oswald" sans-serif;
  text-align: center;
  color: blue;
  margin: 0%;
  padding: 0%;
}
.h {
  color: blue;
  font-size: 60px;
}
.span {
  color: yellow;
}
.ff {
  font-size: 30px;
  text-align: center;
}
a {
  text-decoration: none;
  color: red;
  background-color: yellow;
}
ul {
  list-style: none;
}
.aa {
  border: 10px red;
  font-size: 40px;
}
.add {
  font-size: 35px;
  color: blue;
}
button {
  border-color: blue;
  font-size: 35px;
  background-color: yellow;
}
.tt {
  color: blue;
  font-style: oblique;
}
